# رست
edu-game-backend/target/
edu-game-backend/data/*.db
edu-game-backend/data/*.db-*

# نود و فرانت
edu-game-frontend/node_modules/
edu-game-frontend/dist/
edu-game-frontend/dist-ssr/
*.log
npm-debug.log*

# متغیرهای محیطی
.env
.env.local

# سیستم‌عامل و ویرایشگر
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*~
